*{
    box-sizing: border-box;
}
#page {
    width: 800px;
    margin: 20px auto;
    padding: 10px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -moz-box-shadow: 0 0 20px 5px #1e1e1e;
    box-shadow: 0 0 20px 5px #1e1e1e;
    background-color: rgb(255, 255, 255);
}


#caption {
    margin-top: 15px;
    font-size: 14px;
    color: #0f0f0f;
}

div {
    display: block;
}

div.sectionLeft {
    float: left;
    width: 250px;
}

h2 {
    color: #000000da;
    display: block;
    font-size: 1.7em;
    font-family: 'Times New Roman', Times, serif;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-decoration: underline rgb(109, 109, 109);
    text-transform: uppercase;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0);
    background-image: url(./resume\ bg.jpg);
    background-color: black;
}

#mainname {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000da;
}

a {
    color: #0d0b5f;
    text-decoration: none; 
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 18px;
}

#header {
    width: 760px;
    margin: 10px auto;
    overflow: hidden;
}
html, body, div, p, h1, h2, h3, h4, h5, h6, a, img {
    margin: 0;
    padding: 0;
    border: 0;
}

.section {
    width: 760px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom:10px ;
    border-top: 1px solid #494948;
    overflow: hidden;
}

div.section:last-child {
    margin-bottom: 25px;
    border-bottom: 1px solid #a2ac08;
}

element.style {
    text-align: right;
    position: fixed;
    z-index: 9999999;
    bottom: 0;
    width: auto;
    right: 1%;
    cursor: pointer;
    line-height: 0;
    display: block !important;
}

.button {
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    border-color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 25%;
}

.button:hover{
    cursor:unset;
}

#header_left {
    margin-top: 15px;
    float: left;
}

#header_right {
    float: right;
}

.button1 {
    background-color: white;
    color: blue;
    border: 2px solid #939493;
}

button {
    appearance: auto;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
